* {
	font-size: 14px;		
}

.navbar {
    border-bottom: 7px solid #8000FF;      
}

.btn {
	border-radius: 0;	
}

input[type=text], input[type=search], textarea.form-control, select.form-control {
	border: 3px solid #BDBDBD;
    border-radius: 0;    
}

input[type=text]:focus, input[type=search]:focus, textarea.form-control:focus, select.form-control:focus {
	box-shadow:none; 
	border: 3px solid #808B96;      
}

.btn-primary:not(:disabled):not(.disabled):active:focus,
.btn-primary:focus, .btn-primary.focus
{
    box-shadow:none;
}

.btn-danger:not(:disabled):not(.disabled):active:focus,
.btn-danger:focus, .btn-danger.focus
{
    box-shadow:none;
}

.error { 
	color: #DC143C;
    font-size: 14px;
}

.w-60 {
	width: 60px;
}

thead { 
	background-color: #F5F5F5;     
}

.nav-link {
	color: white !important;
}

.dataTables_filter {   
   float: left;
   text-align: left;
   margin-left: 0px;   
}

.dataTables_filter input { 
	border: 3px solid #BDBDBD;    
    border-radius: 0;
    height: 40px;     
}

.dataTables_paginate .paginate_button {  
	color: #fff;
    background-color: #007bff;
    border-color: #007bff;
    border: 2px solid #005cbf;
	padding: 6px;
	cursor: pointer;
	text-decoration: none;
}

/* Separación entre la tabla y la paginación */
table.dataTable {
	clear:both;
	margin-top:6px !important;
	margin-bottom:26px !important;
	max-width:none !important;
	border-collapse:separate !important;
	border-spacing: 0;
}

/* Separación entre los botones de la paginación */
#tabla_next.paginate_button.next {
	margin-left: 5px;
}

/* Eliminar el glow */ 
textarea, select, input, button { outline: none; }